@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 90%;    
    margin: 0 auto;
}


.menu{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem 1.5rem 1rem ;
}

.item-menu {
    display: none;
}

.icono-menu {
    margin-top: 0.5rem;
}

.seccion1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}


.imagen-mobile {
    max-width: 100%;
    height: auto;
    background-size: cover;
} 

.imagen-desktop {
    display: none;
}

.parrafos {
    margin-top: 1rem;
    letter-spacing: 0;
}

.titulo {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;    

}

.descripcion {
    font-family: 'Inter', sans-serif;
    color: var(--Dark-grayish-blue);
    font-weight: 200px;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;  
    margin-bottom: 2rem;  
    margin-top: 1rem;
}

.boton-read-more {
    text-decoration: none;
    background-color: var(--Soft-red);
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    font-weight: 700;

}

.seccion2 {
    width: 90%;
    margin: 0 auto;
    background-color: var(--Very-dark-blue);
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.seccion2 h2 {
    color: var(--Soft-orange);
    padding: 1rem;
}

.seccion2 h3 {
    padding-bottom: 1.5rem;
    font-size: 1.35rem;
}

.item-card-section2 {
    border-bottom: 1px solid white;
    padding: 1rem;
}

.item-card-section2 p {
     color: var(--Grayish-blue);
     padding-bottom: 1rem;
}

.seccion2 h3:hover {
    color: var(--Soft-orange);
    cursor: pointer;
}

.item-card3 {
    border: none;
}

.item-card3, .item-card2 {
    padding-top: 2rem;
}

.item-card-section3 {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.card-section3 {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.card-section3 h2 {
   padding-bottom: 1rem;
   color: var(--Grayish-blue);
}

.card-section3 h3 {
   padding-bottom: 1rem;
}

.item-card-section3 img {
    height: 15vh;
    width: 30%;
    margin-bottom: 1rem;
}


 @media screen and (min-width: 1300px) {

     .item-menu {
         display: block;
         font-size: 1.5rem;
         font-family: 'Inter', sans-serif;
     }
 
     .ul-menu {
         display: flex;
         gap: 1rem;
     }
 
     .icono-menu {
         display: none;
     }


    .desktop-seccion1 {
      display: flex;  
    }

    .imagen-mobile {
        display: none;
    }
    

    .imagen-desktop {
        display: block;
        width: 100%;
        height: 40vh;
    }


    .seccion1 {
        margin: 2rem;
        margin-right: 0;
    }

    .titulo {
        font-size: 4rem;
        line-height: 0.8;
        font-weight: 800;
        margin-right: 4rem;
    }

    .descripcion {
        font-size: 1.2rem;
        width: 80%;
        margin-bottom: 4rem;
    }

    .seccion2 {
        margin: 2rem;
        height: auto;
        width: fit-content;
        padding: 0;
    }

    .item-card-section2 {
        padding-bottom: 4rem;
    }

    .seccion2 h2 {
        font-size: 3.5rem;
    }

    .seccion2 h3 {
        font-size: 1.7rem;
    }

    .seccion2 p {
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    .parrafos {
        display: flex;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .boton-read-more {
        margin-left: 10%;
        width: fit-content;
    }

    .boton-read-more:hover{
        background-color: var(--Very-dark-blue);
    }
    

    .seccion3 {
        margin-top: 2rem;
        display: flex;
        margin-bottom: 4rem;
    }

    .card-section3 h2 {
        font-size: 3.2rem;
    }
    
    .card-section3 h3 {
        font-size: 1.6rem;
    }

    .item-card-section3 img {
        width: 30%;
        height: 100%;
    }

    .item-card-section3:hover {
        width: 100%;
        opacity: 0.5;
        cursor: pointer;
        transition: 0.5s ease;
    }

    
    
 }